/* styles for index.html */

#top {
    min-height: 50px;
    display: flex;
    width: 100%;
}

#mapButton:link {
    text-decoration: none;
}
#mapButton:visited {
    text-decoration: none;
}

#mapButton:hover {
    box-shadow: 2px 2px 5px 1px black;
    text-decoration: none;
}

#mapButton:active {
    outline-color: white;
    outline-style: solid;
    box-shadow: 0px 0px 0px 0px black;
    text-decoration: none;
}

#mapButton {
    padding: 5px 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);
    font: 20px 'Kodchasan', sans-serif;
    font-weight: bold;
    color: saddlebrown;
    background-color: khaki;
    width: 150px;
    text-decoration-line: none;
    text-align: center;
}

#pageTitle {
    text-align: center;
    margin: 5px;
    font: 32px 'Kodchasan', sans-serif;
    font-weight: bold;
    color: saddlebrown;
    width: 70%;
}

.text {
    background-color: #f0f0f0;
    padding: 0.01em 16px;
}

.text h1 {
    margin: 25px;
    font: 24px 'Kodchasan', sans-serif;
    color: saddlebrown;
}

.text p {
    margin: 25px;
    font: 16px 'Kodchasan', sans-serif;
    color: #383838;

}

.text ul, li {
    font: 16px 'Kodchasan', sans-serif;
    color: #383838;
    margin: 5px;
}

.container {
    background-color: #f0f0f0;
    padding: 0.01em 16px;
    width: fit-content;
}

.cntnr {
    display: flex;
    width: 100%;
}

.card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    margin: 20px 150px 20px 50px;
    width: fit-content; 
    background-color: #ffffff;
    display: inline-block;
}

.card h1 {
    text-align: center;
    margin: 5px;
    font: 32px 'Kodchasan', sans-serif;
    font-weight: bold;
    color: saddlebrown;
    padding: 25px; 
}

.card p {
    margin: 5px;
}

