/* styles for map.html */
#top {
    height: 30px;
}

#map {
    height: 900px;
}

.info {
    color: saddlebrown;
    width: 300px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
}

.legend {
    color: saddlebrown;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}
.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}
.legend .min {
    float: left;
    padding-bottom: 8px;
}
.legend .max {
    float: right;
}


/* styles for plots.html */
.container {
    display: flex;
    width: 100%;
}

#graph2,
#graph3,
#graph4,
#graph5 {
    width: 50%;
}
