#attributes {
    height: 50px;
}

#map {
    height: 900px;
}

.info {
    width: 300px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10%;
    text-align: center;
}



.container {
    display: flex;
    width: 100%;
}

#graph2,
#graph3,
#graph4,
#graph5 {
    width: 50%;
}
