<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popularity by Song/Attribute/Genre</title>

    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!--Link to Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Kodchasan' rel='stylesheet'>
    <!-- D3 Import -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <div id="top">
        <a href='/map' id="home">Go to Map Page</a>
        <h1 id="pageTitle">Some sort of title</h1>
    </div>

    <div>
        <img src="static/Images/artist_popularity.png" alt="Bar chart of top 10 artists world wide">
    </div>
    <div>
        <img src="static/Images/attribute_img.png" alt="Song Attribute Distribution Chart">
    </div>
    <div>
        <img src="static/Images/cool_fig.png" alt="Top 10 Songs in Spotify Line Graph">
    </div>
    <div>
        <img src="static/Images/heatmap.png" alt="Attribute correlation heat map">
    </div>





    <!--Link to Javascript File-->
    <script type="text/javascript" src="static/js/logic2.js"></script>
</body>
</html>