<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popularity by Song/Attribute/Genre</title>

    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!--Link to Google Font-->
    <link href='https://fonts.googleapis.com/css?family=Kodchasan' rel='stylesheet'>
    <!-- D3 Import -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <div id="top" style="margin-bottom: 50px;">
        <a href='/map' id="mapButton">Map</a>
        <h1 id="pageTitle">Spotify Top Song Attributes Around the World</h1>
    </div>
    <div class="text">
        <h1>About The Data</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui mollis, congue nulla vitae, vestibulum lectus. Mauris venenatis arcu ut urna cursus, non rhoncus ex blandit. Nulla facilisi. Nunc porta sollicitudin lacus, vel euismod risus. Proin dui nisl, malesuada quis lorem sed, egestas malesuada nulla. Maecenas dignissim laoreet dapibus. Vivamus convallis convallis sem sed fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sollicitudin justo id facilisis. Proin nec lacinia purus, eu vehicula neque. Cras lobortis vulputate sodales. Integer id ex luctus tellus convallis malesuada sagittis vitae elit. Mauris in felis ac nisl pharetra euismod. Sed nulla ipsum, sagittis vel ipsum ut, commodo eleifend dolor. Praesent accumsan lorem at lacinia venenatis.</p>
        <h1>About Spotify's Song Arributes</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <ul>
            <li>Danceability — Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</li>
            <li>Energy — Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.</li>
            <li>Loudness — The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Values typically range between -60 and 0 db.</li>
            <li>Speechiness - Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</li>
            <li>Acousticness — A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</li>
            <li>Valence — A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</li>
            <li>Tempo — The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.</li>
            <li>Duration — The length of the song.</li>
        </ul>
    </p>
    </div>
    <div class="container">
        <div class="cntnr">
            <div class="card">
                <h1>Top 10 Songs in Spotify</h1>    
                <img src="static/Images/cool_fig1.png" alt="Top 10 Songs in Spotify Line Graph">
            </div>
            <div class="card">
                <h1>Top 10 Artists World Wide</h1>    
                <img src="static/Images/artist_popularity1.png" alt="Bar chart of top 10 artists world wide">
            </div>
        </div>
        <div class="cntnr">
            <div class="card"><p>Info text here - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui mollis, congue nulla vitae, vestibulum lectus. Mauris venenatis arcu ut urna cursus, non rhoncus ex blandit. Nulla facilisi. Nunc porta sollicitudin lacus, vel euismod risus. Proin dui nisl, malesuada quis lorem sed, egestas malesuada nulla. Maecenas dignissim laoreet dapibus. Vivamus convallis convallis sem sed fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sollicitudin justo id facilisis. Proin nec lacinia purus, eu vehicula neque. Cras lobortis vulputate sodales. Integer id ex luctus tellus convallis malesuada sagittis vitae elit. Mauris in felis ac nisl pharetra euismod. Sed nulla ipsum, sagittis vel ipsum ut, commodo eleifend dolor. Praesent accumsan lorem at lacinia venenatis.</p></div>
            <div class="card"><p>Info text here - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui mollis, congue nulla vitae, vestibulum lectus. Mauris venenatis arcu ut urna cursus, non rhoncus ex blandit. Nulla facilisi. Nunc porta sollicitudin lacus, vel euismod risus. Proin dui nisl, malesuada quis lorem sed, egestas malesuada nulla. Maecenas dignissim laoreet dapibus. Vivamus convallis convallis sem sed fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sollicitudin justo id facilisis. Proin nec lacinia purus, eu vehicula neque. Cras lobortis vulputate sodales. Integer id ex luctus tellus convallis malesuada sagittis vitae elit. Mauris in felis ac nisl pharetra euismod. Sed nulla ipsum, sagittis vel ipsum ut, commodo eleifend dolor. Praesent accumsan lorem at lacinia venenatis.</p></div>
        </div>
        <div class="cntnr">
            <div class="card">
                <h1>Attribute Correlation</h1>    
                <img src="static/Images/heatmap.png" alt="Attribute correlation heat map">
            </div>
            <div class="card">
                <h1>Song Attribute Distribution</h1>    
                <img src="static/Images/attribute1.png" alt="Song Attribute Distribution Chart">
            </div> 
        </div>
        <div class="cntnr">
            <div class="card"><p>Info text here - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui mollis, congue nulla vitae, vestibulum lectus. Mauris venenatis arcu ut urna cursus, non rhoncus ex blandit. Nulla facilisi. Nunc porta sollicitudin lacus, vel euismod risus. Proin dui nisl, malesuada quis lorem sed, egestas malesuada nulla. Maecenas dignissim laoreet dapibus. Vivamus convallis convallis sem sed fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sollicitudin justo id facilisis. Proin nec lacinia purus, eu vehicula neque. Cras lobortis vulputate sodales. Integer id ex luctus tellus convallis malesuada sagittis vitae elit. Mauris in felis ac nisl pharetra euismod. Sed nulla ipsum, sagittis vel ipsum ut, commodo eleifend dolor. Praesent accumsan lorem at lacinia venenatis.</p></div>
            <div class="card"><p>Info text here - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id dui mollis, congue nulla vitae, vestibulum lectus. Mauris venenatis arcu ut urna cursus, non rhoncus ex blandit. Nulla facilisi. Nunc porta sollicitudin lacus, vel euismod risus. Proin dui nisl, malesuada quis lorem sed, egestas malesuada nulla. Maecenas dignissim laoreet dapibus. Vivamus convallis convallis sem sed fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra sollicitudin justo id facilisis. Proin nec lacinia purus, eu vehicula neque. Cras lobortis vulputate sodales. Integer id ex luctus tellus convallis malesuada sagittis vitae elit. Mauris in felis ac nisl pharetra euismod. Sed nulla ipsum, sagittis vel ipsum ut, commodo eleifend dolor. Praesent accumsan lorem at lacinia venenatis.</p></div>
        </div>
    </div>




    <!--Link to Javascript File-->
    <script type="text/javascript" src="static/js/logic2.js"></script>
</body>
</html>