<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popularity by Song/Attribute/Genre</title>

    <!--Link to CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- D3 Import -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--Plotly Import-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <a href='/map'>Go to Map Page</a>
    <div id="graph1" onclick="searchTemp()">Graph 1</div>
    <div id="graph2" onclick="clickFunc()"></div>
    <div id="graph3"></div>
    <div id="graph4"></div>



    <!--Link to Javascript File-->
    <script type="text/javascript" src="static/js/logic2.js"></script>
</body>
</html>